<div>
    <h2 id="page-heading">
        <span jhiTranslate="myZtl4App.tipologieVeicoloMTC.home.title">Tipologie Veicolo MTCS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipologie-veicolo-mtc" [routerLink]="['/tipologie-veicolo-mtc/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myZtl4App.tipologieVeicoloMTC.home.createLabel">
            Create a new Tipologie Veicolo MTC
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipologieVeicoloMTCS?.length === 0">
        <span jhiTranslate="myZtl4App.tipologieVeicoloMTC.home.notFound">No tipologieVeicoloMTCS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipologieVeicoloMTCS && tipologieVeicoloMTCS.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myZtl4App.tipologieVeicoloMTC.descrizione">Descrizione</span></th>
                    <th scope="col" ><span jhiTranslate="myZtl4App.tipologieVeicoloMTC.tipologiaVeicolo">Tipologia Veicolo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipologieVeicoloMTC of tipologieVeicoloMTCS ;trackBy: trackId">
                    <td><a [routerLink]="['/tipologie-veicolo-mtc', tipologieVeicoloMTC.id, 'view']">{{ tipologieVeicoloMTC.id }}</a></td>
                    <td>{{ tipologieVeicoloMTC.descrizione }}</td>
                    <td>
                        <div *ngIf="tipologieVeicoloMTC.tipologiaVeicolo">
                            <a [routerLink]="['/tipologia-veicolo', tipologieVeicoloMTC.tipologiaVeicolo?.id, 'view']" >{{ tipologieVeicoloMTC.tipologiaVeicolo?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipologie-veicolo-mtc', tipologieVeicoloMTC.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipologie-veicolo-mtc', tipologieVeicoloMTC.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipologieVeicoloMTC)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
